/* general */
img {
    height: 100%;
}

/* boxes */
.a-box {
    width:280px;
    height:300px;
    text-align: center;
}
.a-text {
    position: relative;
    bottom: 0;
    opacity: 0;
    transform:translate(0,-50px);
}
.a-img:hover ~ .a-text {
    opacity: 1;
}   

.l-box {
    width:230px;
    height:320px;
    text-align: center;
}
.l-text {
    position: relative;
    bottom: 0;
    opacity: 0;
    transform:translate(0,-50px);
}
.l-img:hover ~ .l-text {
    opacity: 1;
}   


.s-box {
    width:180px;
    height:220px;
    text-align: center;
}
.s-text {
    position: relative;
    bottom: 0;
    opacity: 0;
    transform:translate(0,-50px);
}
.s-img:hover ~ .s-text {
    opacity: 1;
}   

.zero-box {
    width:220px;
    height:280px;
    text-align: center;
}
.zero-text {
    position: relative;
    bottom: 0;
    opacity: 0;
    transform:translate(0,-50px);
}
.zero-img:hover ~ .zero-text {
    opacity: 1;
}   