@font-face {
    font-family: 'Noto Sans', sans-serif;
    font-family: 'Noto Sans SC', sans-serif;
    font-weight: normal;
    font-style: normal;
}
* {
    font-family: 'Noto Sans', sans-serif;
    
    box-sizing: border-box;
}

body {
  cursor: url(imgs/cloud.png),auto;
  overflow-x: hidden;
}

a:link {
  cursor: pointer;
}


::-webkit-scrollbar {
  width: 20px;
}
::-webkit-scrollbar-track {
  border-radius: 1px black;
  background: rgb(80, 190, 255);
}
::-webkit-scrollbar-thumb {
  border: 0.5px solid black;
  background: #F4F4ED;
  border-radius: 10px;
}  
::-webkit-scrollbar-thumb:hover {
  background: #e7f7ff;
}


h1 {
  font-weight: normal;
  padding: 0;
	margin: 0;
	font-size: 1.5rem;
  font-weight: 400;
  color: rgb(80, 190, 255);
}

a:link { text-decoration: none; }

a:visited { text-decoration: none; }
  
a:active { text-decoration: none; }

a:hover {text-decoration: none; cursor: pointer;}

/* h1 a {
    text-decoration: none;
    border: 0.35rem solid #000;
    border-radius: 10rem;
    padding: 0.4rem 1.4rem 0rem 1.5rem;
    line-height: 1.15;
    margin-bottom: 1rem;
} */


h2 {
  font-weight: normal;
  padding: 0;
	margin: 0;
	font-size: 1.1rem;
  font-weight: 400;
	color: rgba(0, 0, 0, 1);
}

h2 a:link { text-decoration: none; color: black;}

h2 a:visited { text-decoration: none; color: black;}
  
h2 a:active { text-decoration: none; }

h2 a:hover {text-decoration: none; }

h3 {
    font-weight: normal;
  
}

h4 {
  /* font-family: 'Courier';
  font-weight: lighter;
  font-size: 0.8rem; */
}

p {
    font-family: 'Noto Sans', sans-serif;
    font-size: 0.9em;
    margin: 0;
}

body {
  font-family: 'Space Mono', monospace;
  font-weight:  400;
  margin:  0;
}

li {
  margin-right:  30px;
}

img {
  width:  100%;
  height:  auto;
}

header {
  position: fixed;
  top:  0;
  height: 40px;
  width: calc(100vw - 20px);
  padding:  10px;
  padding-top: 8px;
  padding-bottom: 10px;
  color:  white;
  background-color: rgb(244, 244, 244);
  display:  flex; 
  justify-content: space-between;
  align-items: center;
}

.about, .work {
  text-transform:  uppercase;
}

.wrapper {
  margin-top: 40px;
  margin-bottom: 20px;
}

.hashtags {
  text-align:  center;
}

.hashtags a {
  color:  black;
  text-decoration: none;
  border-bottom: 1px dotted;
  font-size: 1rem; 
  margin: 2px;
  margin-bottom: 15px;
}
.hashtags span{
   line-height: 1.8;
}
.hashtags a:hover{
  cursor:  pointer;
  border-bottom: 2px solid;
  border-color: rgb(145, 145, 145);
  
}

footer {
    padding:  5px;
    padding-top: 8px;
    padding-bottom: 10px;
    position: fixed;
    bottom:  0;
    width:  100vw;
    color:  white;
    background-color: rgb(244, 244, 244);
    display:  flex;
    justify-content:  center;
    align-items:  center;
    cursor: auto;
}

.hashtags {
   
}

.hashtags a{
    padding: 2px 10px;
    margin-bottom:  20px;
    border-radius: 10px;
    margin-right: 10px;
    background-color: white;
    font-weight: 400;
}

.blink{
    overflow: hidden;
    border-right: .15em solid orange;
    white-space: nowrap;
    animation: blinking .8s infinite;
    font-size: 1.2rem;
    height: 10px;
    width: 0;
    transform: translate(0,4px);
}
@keyframes blinking {
    from { border-color: transparent }
    to { border-color: orange; }
}

.email {
    position: fixed;
    right: 2%;
    cursor: pointer;
}

iconify-icon { 
    font-size: 25px;
    color: grey;
    transform: translate(0,3px); 
}

.email:hover iconify-icon{ 
  color: rgb(88, 88, 88);
  cursor: pointer;
}

.email, .hashtags::before {
    content: '';                /*  for the pseudo to render  */
    flex: 1;                    /*  take all space left, equally  */
    text-align: right;
  }




/*remove margin on third element*/
.nav a:nth-child(3){
  margin-right:  0;
}


/*set each section to be the height of the viewport, also use flexbox for whole thing*/
section {
    margin-bottom: 10px;
    padding: 18px;
}
.content {
    margin-bottom: 0;
    display:  flex;

}

/* about page biography section */
#bio {
  height: fit-content;
  min-height: 100vh;
}

.contentBio {
  position: absolute;
  bottom: 10%;
}
.profile {
  position: fixed;
  width: 230px;
  top: 10%; 
  right: 25%;
  z-index: -1;
}

#name {
  
  cursor: pointer;
} 


.column-a {
  width:  30%;
}


.column-a {
  padding-right:  100px;
}

.column-b {
  width:  70%;
}


.intro {
  /*background-color: #E40893;*/
  background: linear-gradient(90deg, #ffdb01, #fb01a3);
  background-size: 400% 400%;
  color:  white;
  justify-content:  center;
  align-items:  center;
  height:  100vh;
  -webkit-animation: laurieGrad 5s ease infinite;
  -moz-animation: laurieGrad 5s ease infinite;
  animation: laurieGrad 5s ease infinite;
}

@-webkit-keyframes laurieGrad {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes laurieGrad {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes laurieGrad {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}


.proj-img {
  margin:15px;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

.proj1-img {
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}

#lab {
  background-color:  rgb(227, 239, 245);
}

.column-1, .column-2 {
  width:  50%;
}

.column-1 {
  padding-right:  100px;
  height: fit-content;
}

.column-2 {
  padding-bottom: 130px;
}

#discog {
  background-color:  #fb01a3;
  flex-direction:  column;
}

ul {
  list-style-type: none;
}


li {
  margin-bottom: 10px;
  padding:  10px;
  border-bottom:  2px dotted black;
}

.disco-title {
  font-weight:  700;
}

.labContent {
  display: flex;
}

.labItem {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  padding-top: 20px;
  width:700px;
  height:150px;

}

/* Media Query for mobile styles*/
@media only screen and (max-width:  600px) {

  body {
    overflow-x: hidden;
  }

  .profile {
    width: 200px;
    top: 15%; 
    right: 20%;
  }

section {
  margin-bottom: 100px;
    padding: 25px;
  }

.content{
  flex-direction:  column;
}

.column-1, .column-2 {
  width:  100%;
}


.column-1 {
  padding-right:  0;
  padding-bottom: 25px;
}

.column-2 {
  padding-bottom: 30px;
}

.column-a, .column-b {
  width:  100%;
}

.column-a {
  padding-right:  0;
  padding-bottom:  50px;
}


.proj-img {
  margin:15px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

ul {
  padding: 0;
}

.labContent {
  flex-direction: column;
}
}