
@font-face {
	src: url('font/RobotoSerif[grad\,opsz\,wdth\,wgth].woff2') format('woff2-variations');
    src: url('font/RobotoSerif[grad\,opsz\,wdth\,wgth].woff') format('woff-variations');
    font-family:'Roboto Serif';
	font-style: normal;
}

@font-face {
	src: url('font/RobotoSerif-Italic[grad\,opsz\,wdth\,wgth].woff2') format('woff2-variations');
    src: url('font/RobotoSerif-Italic[grad\,opsz\,wdth\,wgth].woff') format('woff-variations');
    font-family:'Roboto Serif';
	font-style: italic;
}


* { box-sizing: border-box; } 

body { 
    font-family: "Roboto Serif",var(--specimen-fallback-font,monospace),monospace;
    font-variation-settings: "wdth" var(--wdth),"opsz" var(--opsz),"wght" var(--wght),"GRAD" var(--GRAD);
    font-variation-settings: "opsz" 16,"wght" 200,"wdth" 150,"GRAD" -25;
}

.italic {

}

/* ---- grid ---- */

.grid {
  position: absolute;
    margin-left: auto;
    margin-right: auto;
  /* background: #DDD; */
  max-width: 1200px;

}

/* clear fix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}

/* ---- .grid-item ---- */

.grid-item {
  float: left;
  width: 100px;
  height: 100px;
  margin: 15px;

  /* border: 1px solid hsla(0, 0%, 0%, 0.5); */
}


.grid-item--width15 { width: 150px; height: fit-content;}

.grid-item--width30 { width: 300px; height: fit-content;}

.grid-item--width45 { width: 450px; height: fit-content;}

.grid-item--width15 img,
.grid-item--width30 img,
.grid-item--width45 img{
    width: 100%;
}

.grid-item--height15 { height: 150px; width: fit-content;}
.grid-item--height30 { height: 300px; width: fit-content;}
.grid-item--height45 { height: 450px; width: fit-content;}
.grid-item--height60 { height: 600px; width: fit-content;}

.grid-item--height15 img,
.grid-item--height30 img,
.grid-item--height45 img,
.grid-item--height60 img {
    height: 100%;
}

.grid-item:hover {
  border-color: hsla(0, 0%, 100%, 0.5);
  cursor: move;
}

.grid-item.is-dragging,
.grid-item.is-positioning-post-drag {
  background: #C90;
  z-index: 2;
}

.packery-drop-placeholder {
  outline: 2px dashed hsla(0, 0%, 0%, 0.5);
  outline-offset: -6px;
  -webkit-transition: -webkit-transform 0.2s;
          transition: transform 0.2s;
}