
@font-face {
	src: url('font/RobotoSerif[grad\,opsz\,wdth\,wgth].woff2') format('woff2-variations');
    src: url('font/RobotoSerif[grad\,opsz\,wdth\,wgth].woff') format('woff-variations');
    font-family:'Roboto Serif';
	font-style: normal;
}

@font-face {
	src: url('font/RobotoSerif-Italic[grad\,opsz\,wdth\,wgth].woff2') format('woff2-variations');
    src: url('font/RobotoSerif-Italic[grad\,opsz\,wdth\,wgth].woff') format('woff-variations');
    font-family:'Roboto Serif';
	font-style: italic;
}


* { box-sizing: border-box; } 

body { 
    margin: 0;
    padding: 0;
    background-color: rgb(245, 245, 245);
    font-family: "Roboto Serif",var(--specimen-fallback-font,monospace),monospace;
    font-style: normal;
    font-variation-settings: "wdth" var(--wdth),"opsz" var(--opsz),"wght" var(--wght),"GRAD" var(--GRAD);
    font-variation-settings: "opsz" 16,"wght" 200,"wdth" 125,"GRAD" -25;
    letter-spacing: .05rem;
}

img {
    margin: 0;
    padding: 0;
    line-height: 0;
  }

/* book view img  */
img {
    opacity: 0.5;
    mix-blend-mode: color-burn;
}

img:hover {
    transition: 0.5s;
    opacity: 0.2;
   
}






header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 30px;
    background: rgb(255,255,255);
    background: linear-gradient(0deg, rgba(255,255,255,0) 10%, rgba(255,255,255,1) 100%);
    z-index: 99;
}
/* ---- grid ---- */

.grid {
  position: absolute;
    margin-left: auto;
    margin-right: auto;
  /* background: #DDD; */
  max-width: 1200px;

}

/* clear fix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}

/* ---- .grid-item ---- */

.grid-item {
  float: left;
  width: 100px;
  height: 100px;
  margin: 15px;

  /* border: 1px solid hsla(0, 0%, 0%, 0.5); */
}


.grid-item--width15 { width: 150px; height: fit-content;}

.grid-item--width30 { width: 300px; height: fit-content;}

.grid-item--width45 { width: 450px; height: fit-content;}

.grid-item--width15 img,
.grid-item--width30 img,
.grid-item--width45 img{
    width: 100%;
}

/* .grid-item--width15 img:hover,
.grid-item--width30 img:hover,
.grid-item--width45 img:hover {
    width: 700px;
    z-index: 98;
    position: fixed;

    top: 0;
    left: 5
} */

.grid-item--height15 { height: 150px; width: fit-content;}
.grid-item--height30 { height: 300px; width: fit-content;}
.grid-item--height45 { height: 450px; width: fit-content;}
.grid-item--height60 { height: 600px; width: fit-content;}

.grid-item--height15 img,
.grid-item--height30 img,
.grid-item--height45 img,
.grid-item--height60 img {
    height: 100%;
}


.grid-item:hover {
  border-color: hsla(0, 0%, 100%, 0.5);
  cursor: move;
}

.grid-item.is-dragging,
.grid-item.is-positioning-post-drag {
  /* background: rgb(201, 255, 255); */
  z-index: 2;
}

.grid-item.is-dragging img,
.grid-item.is-positioning-post-drag img{
    box-shadow: 0 1px 2px rgba(0,0,0,0.07), 0 2px 4px rgba(0,0,0,0.07), 0 4px 8px rgba(0,0,0,0.07), 0 8px 16px rgba(0,0,0,0.07), 0 16px 32px rgba(0,0,0,0.07), 0 32px 64px rgba(0,0,0,0.07);

}

.packery-drop-placeholder {
  outline: 2px dashed hsla(0, 0%, 0%, 0.5);
  outline-offset: -6px;
  -webkit-transition: -webkit-transform 0.2s;
          transition: transform 0.2s;
}




.border-2 {
    @include corner-borders(2.5px, 20px);
  }
h1 {
    color: #fff;
    mix-blend-mode: difference;
}
.text { 
    position: absolute;
    top: 20%;
    right: 30%;
    width: 400px;
    height: unset;
    margin: 30px;
    pointer-events: none;
}


.italic {
    font-style: italic;
}

