@font-face {
  font-family: 'Source Han Mono';
  src: url('fonts/SourceHanMono-Regular.woff2') format('woff2')
       url('fonts/SourceHanMono-Regular.otf') format('opentype');
  font-style: normal;    
  font-weight: 400;
}


html{
    height: 100%;
  }
    
body {
    margin: 0;
    padding: 0;
    font-family: 'Source Han Mono';
    font-weight: normal;

    /* font-weight: 400; */
   
}
#parent-container {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  justify-content: center;
  align-items: flex-start;
  padding: 10px;
}

canvas {
  /* image-rendering: auto;
  aspect-ratio: 1/1; */
  /* width: 100% !important;
  height: auto !important; */
  position: absolute;
  top: 0;
  display: block;
  visibility: visible !important;
}

.cocktail {
  width: 700px;
  height: 700px;
  /* padding: 5px;  */
  position: relative;
  display: inline-block;
 
}

.cocktail-info {
 
  /* display: none; */
  width: 70%;
  height: 100%;
  position: relative;

  /* left: 0; */
  right: 0;
 
  padding-left: 30%;
  font-size: 14px;
  line-height: 1.4;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  z-index: 99;
}


.cocktail-name, .cocktail-ingredients, .cocktail-flavors {
  width: 100%;
}




