@font-face {
  font-family: 'Source Han Mono';
  src: url('fonts/SourceHanMono-Normal.woff2') format('woff2')
       url('fonts/SourceHanMono-Normal.otf') format('opentype');
  font-style: normal;    
  font-weight: 400;
}


@font-face {
  font-family: 'Source Han Mono Regular';
  src: url('fonts/SourceHanMono-Regular.woff2') format('woff2')
       url('fonts/SourceHanMono-Regular.otf') format('opentype');
  font-style: normal;    
  font-weight: 400;
}

@font-face {
  font-family: 'Source Han Mono';
  src: url('fonts/SourceHanMono-Medium.woff2') format('woff2')
       url('fonts/SourceHanMono-Medium.otf') format('opentype');
  font-style: normal;    
  font-weight: 500;
}


* {
  box-sizing: border-box;
}

html{
   
}
    
body {
    margin: 0;
    padding: 0;
    font-family: 'Source Han Mono';
    font-weight: normal;
    overflow-x: scroll;
    /* overflow-y: hidden; */
    font-weight: 400;
}


h1 {
  font-family: 'Source Han Mono';
  font-style: normal;    
  font-weight: 500;
  font-size: 2rem;
}

h2 {
  font-weight: unset;
  font-size: 1.1rem;
}

h3 {
  font-weight: 400;
  font-size: 0.9rem;

}

p {
  font-weight: unset;
  font-weight: 400;
  font-size: 0.9rem;
  padding: 0;
  margin: 0;
}

.parent-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  justify-content: space-between;
}

header {
  position: fixed;
  width: 100vw;
  height: 5vh;
  display: flex;
  border-bottom: solid black 1px;
  z-index: 99;
}

#cocktail-container {
  position: absolute;
  width: max-content;
  height: 95vh;
  bottom: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 5px;
  /* justify-content: center; */
  align-items: flex-start;

}

.cocktail {
  position: relative;
  width: 600px;
  height: 100%;
  display: block;
}


canvas {
  /* image-rendering: auto;
  aspect-ratio: 1/1; */
  /* width: 100% !important;
  height: auto !important; */
  position: absolute;
  top: 0;
  display: block;
  visibility: visible !important;
  width: 600px;
  /* height: 100%; */
}

header, .cocktail-info {
  padding: 0.5rem;
}
.cocktail-info {
  position: absolute;
    width: 100%;
    height: 30%;
    top: 70%;
    /* right: 0; */
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-start;
    /* align-items: flex-end; */
    z-index: 99;
}


.cocktail-price {
  height: 100%;
  width: 20%;
}


.cocktail-palate {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

}
.cocktail-palate span {
  display: inline-block;
 
}


.cocktail-abv {
  width: 50%;
}


/* .cocktail-name, .cocktail-ingredients, .cocktail-flavors {
  display: block;
  width: 100%;
} */




