/* Some default properties to begin with  */

* {
  box-sizing: border-box;
}

@font-face {
  font-family: 'ia_writer_quattro_sbold';
  src: url('fonts/iAWriterQuattro/iawriterquattrosbold-webfont.woff2') format('woff2'),
       url('fonts/iAWriterQuattro/iawriterquattrosbold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'ia_writer_quattro_sregular';
  src: url('fonts/iAWriterQuattro/iawriterquattrosregular-webfont.woff2') format('woff2'),
       url('fonts/iAWriterQuattro/iawriterquattrosregular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}
body {
  font-family: 'ia_writer_quattro_sregular';
  margin: 0;
  background-color: #efede1;
  font-size: 0.9rem;
  color: rgb(80, 80, 80);
}

h1 {
  font-family: 'ia_writer_quattro_sbold';
  color:black;
  opacity: 80%;
}


a {
  color: blue;
}

ul {
  
  padding: 0;
  margin: 0;
}

img {
  width: 100%;
  height: auto;
}

.footer {
  padding: 2rem;
  text-align: center;
}

/* header styles begin here */
.header {
  width: 100%;
  padding: 0 2rem;
  height: 80px;
  display: flex;
  flex-direction: column;
  position: fixed;
  z-index: 9;
}
.year{
  flex-basis: 25%;
}


.main-title {
  text-align: left;
  font-size: 1.8em;
}

.navigation {
  display: none;
}

.mobile-menu {
  position: absolute;
  top: 32px;
  left: 15px;
  z-index: 2;
}



.footer {
  width: 100%;
  padding: 0 2rem;
  height: 80px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: fixed;
}


/* second section */
.second-section {
  display: flex;
  flex-wrap: wrap;
  /* padding: 2rem; */
  /* width: 100vw; */
  justify-content: space-evenly;
  padding-top: 166px;
}

.left {
  filter: opacity(0.5);
  margin: 3rem;
}

.left:hover{
  filter: opacity(0.8);
  transition: ease-in-out 0.1s;
}

.right {
  padding-top: 70px;
  margin-bottom: 60px;
  line-height: 1.5;
}

ol {
  list-style-type: decimal-leading-zero;
}


/* third section */
.third-section {
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #65ad58;
}

.image-box {
  flex-basis: 25%;
  margin: 0.3rem;
  box-shadow: ;
}

/* media query for desktop values */
@media only screen and (min-width: 770px) {
  .header {
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
  }

  .main-title {

  }
  .navigation {
    display: flex;
    flex-direction: row;
  }

  .mobile-menu {
    display: none;
  }

  .second-section {
  padding-top: 166px;
  }

  .left {
    flex-basis: 25%;
    position: sticky;
  }

  .right {
    flex-basis: 40%;
    margin-bottom: 80px;
  }  

  article {
    columns: 2 6vw;
    column-gap: 2vw;
    padding-left: 10px;
    padding-right: 10px;
  }
  
  ol {
    margin-block-start: 0em;
    margin-block-end: 1em; 
}

  .image-box {
    flex-basis: 20%;
    margin: 1.5rem;
  }
}

.hole-container {
  position: fixed;
  height: 100vh;
  width: 20px;
  margin-left: 20px;
  left: 0;
  top: 0;
  z-index: 10;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.hole {
  height: 25px;
  width: 25px;
  background-color: white;
  border-radius: 50%;
}
