@font-face {
	src: url('asset/FuturisticNostalgia-VFVF.woff2') format('woff2-variations');
	font-family:'FuturisticNostalgiaVF';
	font-style: normal;
}


@font-face {
	src: url('asset/FuturisticNostalgia-VFVF.woff') format('woff-variations');
	font-family:'FuturisticNostalgiaVF';
	font-style: normal;
}

@font-face {
	src: url('asset/FuturisticNostalgia-Regular.woff2') format('woff2-variations');
	font-family:'FuturisticNostalgia';
	font-style: normal;
}


@font-face {
	src: url('asset/FuturisticNostalgia-RegularSerif.woff2') format('woff2-variations');
	font-family:'FuturisticNostalgia-RegularSerif';
	font-style: normal;
}


@font-face {
	src: url('asset/FuturisticNostalgia-ContrastSans.woff2') format('woff2-variations');
	font-family:'FuturisticNostalgia';
	font-style: medium;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
	font-family:'FuturisticNostalgia', 'Courier New', Courier, monospace;
	height: 300%;

	background: linear-gradient(0deg, rgba(200, 213, 162, 1) 0%, rgba(238, 234, 177, 1) 43%, rgba(233, 214, 162, 1) 67%, rgba(231, 165, 96, 1) 100%);
	cursor: url(img/northWestArrow.png),auto;
}

.wrapper {
	height: 2000px;
	width: 100vw;
	padding: 20px;
}

h1, h2, h3, h4 {
	font-weight: unset;
}

h1 {
	font-family:'FuturisticNostalgia-RegularSerif';
	font-size: 5rem;
	font-weight: unset;
	margin: 0;
}


h2, h4 {
	margin: 0;
}

h4 {
	font-size: 1.2rem;
	font-family:'FuturisticNostalgia';
	font-style: normal;
}

p {
	font-family:'FuturisticNostalgia', Courier;
}

.logoMemo {
	font-size: 5rem;
}
.vfDelay span{
	-webkit-animation: toSolid 5s linear infinite;
	animation: toSolid 6s linear infinite;
	animation-delay: calc(.5s* var(--i));
  }
  
  
  @keyframes toSolid {
	0%, 100% {
		font-variation-settings: "SERF" 0;
	}

	50% {
		font-variation-settings: "SERF" 100;
	}
  }

.hover {
	cursor: url(img/point.png),auto;
}
.hover span:hover {
    -webkit-animation: toOutline 4s linear forwards;
    animation: toOutline 4s linear forwards;
}

@keyframes toOutline {
    0%, 100%  {
        font-variation-settings: "wght" 200;
    }
    50% {
        font-variation-settings: "wght" 30;
    }
}

.emojiMemo {
	font-size: 2rem;
}

.fontPreviewCaption {
	font-family:'FuturisticNostalgia', 'Courier New', Courier, monospace;
	position: relative;
	width: 100%;
	display: flex;
	justify-content: space-between;
	margin-bottom:1rem;
}



input {
	background: none;
	border: none;
  }

  input:focus {
	background: white;
	text-decoration: solid;
	
  }

.testerText {
	font-family:'FuturisticNostalgiaVF';
	font-size: 6rem;
	-webkit-appearance: none;
    background: none;
	border: none;
	border-radius: 0;
	outline: none;

  }


/* 
.memoWeightSlider:hover {
	cursor: url(img/raisedHand.png),auto;
} */

input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 2px;
    background-color: #C6C6C6;
	cursor: url(img/raisedHand.png),auto;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #FFAA00; /* Orangeish yellow */
	cursor: url(img/raisedHand.png),auto;
}

input[type="range"]::-moz-range-thumb {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #FFAA00; /* Orangeish yellow */
	cursor: url(img/raisedHand.png),auto;
}

input[type="range"]::-ms-thumb {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #FFAA00; /* Orangeish yellow */
	cursor: url(img/raisedHand.png),auto;
}

cursor: url(img/fistedHandSign.png),auto;