body {
    background-color: #969486;
	animation-name: backgroundColorPalette;
	animation-duration: 5s;
	animation-iteration-count: 1;
	animation-direction: alternate;
	animation-timing-function: linear; 
	/* linear is enabled default, it’s not necessary to add it make it work but it can make your code more expressive */
}

@keyframes backgroundColorPalette {
	0% {
		background: #E1E1E1;
	}
/* 	
	50% {
		background: #56554C;
	} */

	100% {
		background: #969486;
	}
}

h1, h2, h3, p {
    color: white;
    font-family: "dnp-shuei-nmincho-std", sans-serif;
    font-weight: 400;
    font-style: normal;
}
 
p {
    line-height: 1.5;
}

h2 {
    font-size: 1.2rem;
    line-height: 1.2;
   
}


.btm-nav {
    position:fixed;
    bottom: 0;
    padding-bottom: 5px;
    width: 100%;
    text-align: center;
    letter-spacing: 1rem;
    /* background-color: #969486;
	animation-name: backgroundColorPalette;
	animation-duration: 5s;
	animation-iteration-count: 1;
	animation-direction: alternate;
	animation-timing-function: linear;  */
}

.menu {
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease; 
    cursor: pointer;
    z-index: 99;
}

.menu:hover {
    letter-spacing: 2rem; 
    -webkit-animation: text_blur 1.5s; 
  }

@-webkit-keyframes text_blur {
    0% { -webkit-filter: blur(0px);}
    50% { -webkit-filter: blur(2px);}
    100% { -webkit-filter: blur(0px);}
}


a:link { text-decoration: none; color: white;}

a:visited { text-decoration: none; color: white;}

a:hover { text-decoration: none; color: white;}

a:active { text-decoration: none; }

/* main box */

.wrapper {
    height: 100vh;
    z-index: 5;
    }
    .box {
      position: fixed;
      top: 43%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 90%;
      margin-top: 25px;
      margin-bottom: 15px;
      margin-left: auto;
      margin-right: auto;
      text-align: center;
    }
    
    .row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    }
    
    .column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    align-items: center;
    padding: 5px;
    }
    
    #Layer_1 {
      width: 100px;
      height: 100px;
      }
    
.cls-1 {
    fill: none;
    stroke: white;
    stroke-width: 1.5px;
}

 
    /* @media screen and (orientation:landscape) { */
      @media screen and (min-width: 600px) {
        .wrapper {
          height: 500px;
        }
        .box {
         
          width: 490px;
         
        }
        .row {
          align-items: center;
         margin-top: 19px;
         margin-bottom: 19px;
        }
        .column {
          flex: 1;
          height: 100%;
          margin-left: 10px;
          margin-right: 10px;
        }
        #Layer_1 {
          padding-left: 10px;
          padding-right: 10px;
          width: 100%;
          height: 100%;
        }
        }
    
._云 {
    transition: 3s ease;
}
._云:hover {

    -webkit-animation: out 1s ease-in-out;
    -webkit-animation-duration: 1000ms;
    -webkit-animation-delay: 10ms; 
    -webkit-animation-fill-mode: forwards;
}
.table {
    position: sticky;
    top: 60%;
    margin-left: 200px;
}

#table {
    width: 350px;
}
         
span {
    -webkit-animation: in 1s ease;
  }
  
  span:hover {
    -webkit-animation: out 1s ease-in-out;
    -webkit-animation-duration: 1000ms;
    -webkit-animation-delay: 10ms; 
    -webkit-animation-fill-mode: forwards;
  }
  
  @-webkit-keyframes in {
    from   { text-shadow: 10px 80px 10px rgba(0, 0, 0, 1);  }
    to { text-shadow: 10px 80px 10px rgba(0, 0, 0, 1); }
  }
  
  @-webkit-keyframes out {
    0%   { text-shadow: 10px 80px 10px rgba(0, 0, 0, 1); }
    100% { text-shadow: 10px 80px 10px rgba(0, 0, 0, 1);}
  }

.trapezoid {
    width: 400px;
    height: 200px;
    background-color: #ccc;
    -webkit-clip-path: polygon(0 0, 100% 0, 80% 100%, 20% 100%);
    clip-path: polygon(0 0, 100% 0, 80% 100%, 20% 100%);
  }
  
  /* p{
    width:400px; height:400px;
    text-align:justify;
    overflow:hidden;
} */
p {
    width: 800px;
}
.top {
position: relative;
/* padding-left: 20px; */
}

.top:before, .top:after {
  content:'';
}
.top:before{
    float: left;
    width: 250px;
    height: 150px;
    -webkit-shape-outside: polygon(0 0, 19% 100%, 100% 100%);
    shape-outside: polygon(0 0, 30% 100%, 100% 100%);
}

.top:after{
    float:right;
    width: 250px;
    height: 150px;
    -webkit-shape-outside: polygon(100% 0, 0 100%, 81% 100%);
    shape-outside: polygon(100% 0, 0 100%, 70% 100%);
}

.main {
    width: 530px;
  }
  
  .left,
  .right {
    width: 40%;
    height: 12ex;
    background-color: lightgray;
  }
  
  .left {
    -webkit-shape-outside: polygon(0 0, 100% 100%, 0 100%);
    shape-outside: polygon(0 0, 100% 100%, 0 100%);
    float: left;
    -webkit-clip-path: polygon(0 0, 100% 100%, 0 100%);
    clip-path: polygon(0 0, 100% 100%, 0 100%);
  }
  
  .right {
    -webkit-shape-outside: polygon(100% 0, 100% 100%, 0 100%);
    shape-outside: polygon(100% 0, 100% 100%, 0 100%);
    float: right;
    -webkit-clip-path: polygon(100% 0, 100% 100%, 0 100%);
    clip-path: polygon(100% 0, 100% 100%, 0 100%);
  }
  
  p {
    text-align: center;
  }
  

.wrapper {
    margin: 60px;
    margin-top: 40px; 
    padding: 0;
    height: 2000px;
}
article {
    -webkit-columns: 2 13vw;
    -moz-columns: 2 13vw;
    columns: 2 13vw;
    column-gap: 50vw;
    padding-left: 20px;
    padding-right: 20px;
} 

.text3{
    color: white;
    font-family: "dnp-shuei-nmincho-std", sans-serif;
    font-weight: 400;
    font-style: normal;
    line-height: 1.5;
}

.text7 p:nth-child(2n) {
    text-align: left;
}

p {
    margin-top: 0em;
    margin-bottom: 0;
}
  
@media (max-width: 734px) {
    /* p {
        display: inline;
    } */
}

@media (max-width: 480px) {
    /* text overflow for mobile  */
    .wrapper {
        margin: 20px;
        margin-bottom: 70px; 
    }
    article {
        -webkit-columns: 2 200px;
        -moz-columns: 2 200px;
        columns: 2 200px;
        padding: 0;
    }
  }

