body {
    background-color: #5B5B57;
}

h1, h2, h3, p {
   
    font-family: "dnp-shuei-nmincho-std", sans-serif;
    font-weight: 400;
    font-style: normal;
}
 
p {
    line-height: 1.5;
    color: #828282;
}

h2 {
    font-size: 1.2rem;
    line-height: 1.2;
  
}

::-moz-selection {  background-color: #ececec;color: #5B5B57;  }
::selection {   background-color: #ececec; color: #5B5B57; }

.btm-nav {
    position:fixed;
    bottom: 0;
    padding-bottom: 5px;
    width: 100%;
    text-align: center;
    letter-spacing: 1rem;
    /* background-color: #ececec; */
    /* 
	animation-name: backgroundColorPalette;
	animation-duration: 5s;
	animation-iteration-count: 1;
	animation-direction: alternate;
	animation-timing-function: linear;  */
}

.menu {
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease; 
    cursor: pointer;
    z-index: 99;
    
}

.menu:hover {
    letter-spacing: 2rem; 
    -webkit-animation: text_blur 1.5s; 
  }

@-webkit-keyframes text_blur {
    0% { -webkit-filter: blur(0px);}
    50% { -webkit-filter: blur(2px);}
    100% { -webkit-filter: blur(0px);}
}


h2 a:link { text-decoration: none; color: white;}

h2 a:visited { text-decoration: none; color: white;}

h2 a:hover { text-decoration: none; color: white;}

h2 a:active { text-decoration: none; }


/* main box */
    .box {
      position: fixed;
      top: 43%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 90%;
      margin-top: 25px;
      margin-bottom: 15px;
      margin-left: auto;
      margin-right: auto;
      text-align: center;
    }
    
    .row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    }
    
    .column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    align-items: center;
    padding: 5px;
    }
    
    #Layer_1 {
      width: 1100px;
      height: 110px;
      }
    
.cls-1 {
    fill: #EFEFEF;
    fill-opacity: 0;
    stroke: white;
    stroke-width: 1.5px; 
   
}

#Layer_1{
  animation: bigger 7s ease-in-out alternate;
  animation-delay: 500ms;
  -webkit-animation-fill-mode: forwards;
}
@keyframes bigger {
    0% {
        transform: translateX(0px) scale(1);
     }
    100% {
        transform: translateX(-180px) translateY(370px) scale(4.3);
 }
}

.cls-1 {
  animation: strokewidth 7s ease-in-out alternate;
  animation-delay: 500ms;
  -webkit-animation-fill-mode: forwards;
}
@keyframes strokewidth {
    from { stroke-width:  1.5px; }
    to { stroke-width: 0.6; }
}

  /* @media screen and (orientation:landscape) { */
/* main box */
      @media screen and (min-width: 600px) {
        .wrapper {
          height: 500px;
        }
        .box {
          width: 490px;
        }
        .row {
          align-items: center;
         margin-top: 19px;
         margin-bottom: 19px;
        }
        .column {
          flex: 1;
          height: 100%;
          margin-left: 10px;
          margin-right: 10px;
        }
        #Layer_1 {
          padding-left: 10px;
          padding-right: 10px;
          width: 100%;
          height: 100%;
        }
        }
    

.wrapper {
    margin: 60px;
    margin-top: 40px; 
    padding: 0;
    display: flex;
    flex-direction: row;
}

/* body text */
.text4 {
  top: 15%;
  left: 50%;
    color: white;
    font-family: "dnp-shuei-nmincho-std", sans-serif;
    font-weight: 400;
    font-style: normal;
    line-height: 1.5;

  }
@media (min-width: 601px) {
  .text1 {
    position: relative;
    width: 30vw;
    height: fit-content;
    padding-bottom: 100px;
    }
}

/* Responsive layout - makes a one column layout instead of a two-column layout */
@media (max-width: 600px) {
  .wrapper {
    flex-direction: column;
      margin: 20px;
      margin-bottom: 70px; 
  }
  .text4 {
    position: inherit;
    width: auto;
    height: auto;
    padding-top: 110px;
}

.cls-1 {
  fill: #EFEFEF;
  fill-opacity: 1;
  stroke: white;
  stroke-width: 2px;
}
}

.text4 span{
  display: inline-block;
  animation: wave-text 1s ease-in-out infinite;
  cursor: pointer;
}
.text4:hover span{
    animation: none;
}
  span:nth-of-type(1){ animation-delay: 0.0s; }
  span:nth-of-type(2){ animation-delay: 0.1s; }
  span:nth-of-type(3){ animation-delay: 0.2s; }
  span:nth-of-type(4){ animation-delay: 0.3s; }
  span:nth-of-type(5){ animation-delay: 0.4s; }




p {
    margin-top: 0em;
    margin-bottom: 0;
}

/* next page link button */
.next a{
    text-decoration: none;
    color: #828282
}
.next a:hover {
     text-decoration: none; color: rgb(54, 54, 54);
  }

.next:hover {
    color: #303030;
}

.next a.stop {
  animation: none;
}

.next a.play{
  -webkit-animation: blinker 1s linear infinite;
  -webkit-animation-play-state: inherit;
  animation: blinker 1s linear infinite;
  animation-play-state: running;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}


@media (max-width: 480px) {
    /* text overflow for mobile  */
   
   
  }

