body {
    background-color: black;
}

h1, h2, h3, p {
   
    font-family: "dnp-shuei-nmincho-std", sans-serif;
    font-weight: 400;
    font-style: normal;
}
 
p {
    line-height: 1.5;
    color: #ffffff;
}

h2 {
    font-size: 1.2rem;
    line-height: 1.2;
  
}

::-moz-selection {  background-color: #828282;color: white;  }
::selection {   background-color: #828282; color: white; }

.btm-nav {
    position:fixed;
    bottom: 0;
    padding-bottom: 5px;
    width: 100%;
    text-align: center;
    letter-spacing: 1rem;
    /* background-color: #ececec; */
    /* 
	animation-name: backgroundColorPalette;
	animation-duration: 5s;
	animation-iteration-count: 1;
	animation-direction: alternate;
	animation-timing-function: linear;  */
}

.menu {
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease; 
    cursor: pointer;
    z-index: 99;
    
}

.menu:hover {
    letter-spacing: 2rem; 
    -webkit-animation: text_blur 1.5s; 
  }

@-webkit-keyframes text_blur {
    0% { -webkit-filter: blur(0px);}
    50% { -webkit-filter: blur(2px);}
    100% { -webkit-filter: blur(0px);}
}


h2 a:link { text-decoration: none; color: white;}

h2 a:visited { text-decoration: none; color: white;}

h2 a:hover { text-decoration: none; color: white;}

h2 a:active { text-decoration: none; }


/* main box */
    .box {
      position: fixed;
      top: 43%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 90%;
      margin-top: 25px;
      margin-bottom: 15px;
      margin-left: auto;
      margin-right: auto;
      text-align: center;
    }
    
    .row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    }
    
    .column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    align-items: center;
    padding: 5px;
    }
    
    #Layer_1 {
      width: 110px;
      height: 110px;
      }
    
.cls-1 {
    fill: #EFEFEF;
    fill-opacity: 0;
    stroke: white;
    stroke-width: 1.5px;
}

#_阝{
  cursor: pointer;
}

  /* @media screen and (orientation:landscape) { */
/* main box */
      @media screen and (min-width: 600px) {
        .wrapper {
          height: 500px;
        }
        .box {
          width: 490px;
        }
        .row {
          align-items: center;
         margin-top: 19px;
         margin-bottom: 19px;
        }
        .column {
          flex: 1;
          height: 100%;
          margin-left: 10px;
          margin-right: 10px;
        }
        #Layer_1 {
          padding-left: 10px;
          padding-right: 10px;
          width: 100%;
          height: 100%;
        }
        }
    

.wrapper {
    margin: 60px;
    margin-top: 40px; 
    padding: 0;
    display: flex;
    flex-direction: row;
}


  
#shoji {

height: 100vh;
object-fit: cover;
position: absolute;
margin-left: auto;
margin-right: auto;
top: 0;
bottom: 0;
z-index: -1; 
opacity: 1;
}


/* body text */
.text9 {
 
top: 80%;

    color: white;
    font-family: "dnp-shuei-nmincho-std", sans-serif;
    font-weight: 400;
    font-style: normal;
    line-height: 1.5;
  }
@media (min-width: 601px) {
  .text9 {
    position: absolute;
    width: 2300px;
    /* height: fit-content; */
    padding-bottom: 80px;
    }
}


/* Responsive layout - makes a one column layout instead of a two-column layout */
@media (max-width: 600px) {
  .wrapper {
    flex-direction: column;
      margin: 20px;
      margin-bottom: 70px; 
  }
  .text9 {
    position: inherit;
    width: auto;
    height: auto;
    padding-top: 110px;
}

.cls-1 {
  fill: #EFEFEF;
  fill-opacity: 1;
  stroke: white;
  stroke-width: 2px;
}
}

span {
    -webkit-animation: in 1s ease-in;
  }
  
  span:hover {
    -webkit-animation: out 1s ease-in-out;
    -webkit-animation-duration: 1000ms;
    -webkit-animation-delay: 10ms; 
    -webkit-animation-fill-mode: forwards;
  }
  
  @-webkit-keyframes in {
    from   { text-shadow: 12px 80px 10px rgba(0, 0, 0, 1);  }
    to { text-shadow: 12px 80px 10px rgba(0, 0, 0, 0); }
  }
  
  @-webkit-keyframes out {
    0%   { text-shadow: 12px 80px 10px rgba(0, 0, 0, 1); }
    100% { text-shadow: 12px 80px 10px rgba(0, 0, 0, 1);}
  }

p {
    margin-top: 0em;
    margin-bottom: 0;
}

/* next page link button */
.next a{
    text-decoration: none;
    color: #828282
}
.next a:hover {
     text-decoration: none; color: rgb(54, 54, 54);
  }

.next:hover {
    color: #303030;
    border: solid 2px #828282;
    border-color: #828282 transparent transparent transparent;
    margin-left: -2.1px;
    border-radius: 50%;
}

.next a.stop {
  animation: none;
}

.next a.play{
  -webkit-animation: blinker 1s linear infinite;
  -webkit-animation-play-state: inherit;
  animation: blinker 1s linear infinite;
  animation-play-state: running;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}


@media (max-width: 480px) {
    /* text overflow for mobile  */
   
   
  }

