* {
    cursor: url(imgs/cursor90.png),auto;
}



body {
    background-color: black;
   
}

h1, h2, h3, p {
    color: white;
    font-family: "dnp-shuei-nmincho-std", sans-serif;
    font-weight: 400;
    font-style: normal;
}

h1 {
    text-align: center;
    font-size: 200px;
    line-height: 1.2;
    letter-spacing: 2rem;
    margin-top: 100px;
    margin-bottom: 30px;
}

h3 {
    text-align: center;
    font-size: 20px;
}