@font-face {
	src: url('font/GridlitePEVFTRIAL/GridlitePEVFTRIAL-All.ttf') format('woff2-variations');
	font-family:'Gridlite';
	font-style: normal;
}

@font-face {
  font-family: "GridlitePEHalfwayCircle-El";
  src: url("font/GridlitePEHalfwayCircleTRIAL/GridlitePEHalfwayCircleTRIAL-El.ttf") format("woff2")
}

@font-face {
  font-family: "GridlitePEHalfwayCircle-ElTitle";
  src: url("font/GridlitePEHalfwayCircleTRIAL/GridlitePEHalfwayCircleTRIAL-El.ttf") format("woff2");
  unicode-range: U+20,U+45,U+47,U+50,U+64,U+65,U+69,U+6c,U+72,U+74,U+393,U+395,U+3a0,U+3ac,U+3af,U+3b9,U+3ba,U+3bb,U+3bd,U+3c1,U+3c4,U+413,U+415,U+41f,U+430,U+434,U+438,U+439,U+43b,U+440,U+442
}

@font-face {
  font-family: "GridlitePEHalfwayCircle-Lt";
  src: url("font/GridlitePEHalfwayCircleTRIAL/GridlitePEHalfwayCircleTRIAL-Lt.ttf") format("woff2")
}

@font-face {
  font-family: "GridlitePEHalfwayCircle-LtTitle";
  src: url("font/GridlitePEHalfwayCircleTRIAL/GridlitePEHalfwayCircleTRIAL-Lt.ttf") format("woff2");
  unicode-range: U+20,U+45,U+47,U+50,U+64,U+65,U+69,U+6c,U+72,U+74,U+393,U+395,U+3a0,U+3ac,U+3af,U+3b9,U+3ba,U+3bb,U+3bd,U+3c1,U+3c4,U+413,U+415,U+41f,U+430,U+434,U+438,U+439,U+43b,U+440,U+442
}

@font-face {
  font-family: "GridlitePEHalfwayCircle-Rg";
  src: url("font/GridlitePEHalfwayCircleTRIAL/GridlitePEHalfwayCircleTRIAL-Rg.ttf") format("woff2")
}

@font-face {
  font-family: "GridlitePEHalfwayCircle-RgTitle";
  src: url("font/GridlitePEHalfwayCircleTRIAL/GridlitePEHalfwayCircleTRIAL-Rg.ttf") format("woff2");
  unicode-range: U+20,U+45,U+47,U+50,U+64,U+65,U+69,U+6c,U+72,U+74,U+393,U+395,U+3a0,U+3ac,U+3af,U+3b9,U+3ba,U+3bb,U+3bd,U+3c1,U+3c4,U+413,U+415,U+41f,U+430,U+434,U+438,U+439,U+43b,U+440,U+442
}

@font-face {
  font-family: "GridlitePEHalfwayCircle-Sb";
  src: url("font/GridlitePEHalfwayCircleTRIAL/GridlitePEHalfwayCircleTRIAL-Sb.ttf") format("woff2")
}

@font-face {
  font-family: "GridlitePEHalfwayCircle-SbTitle";
  src: url("font/GridlitePEHalfwayCircleTRIAL/GridlitePEHalfwayCircleTRIAL-Sb.ttf") format("woff2");
  unicode-range: U+20,U+45,U+47,U+50,U+64,U+65,U+69,U+6c,U+72,U+74,U+393,U+395,U+3a0,U+3ac,U+3af,U+3b9,U+3ba,U+3bb,U+3bd,U+3c1,U+3c4,U+413,U+415,U+41f,U+430,U+434,U+438,U+439,U+43b,U+440,U+442
}

@font-face {
  font-family: "GridlitePEHalfwayCircle-Bd";
  src: url("font/GridlitePEHalfwayCircleTRIAL/GridlitePEHalfwayCircleTRIAL-Bd.ttf") format("woff2")
}

@font-face {
  font-family: "GridlitePEHalfwayCircle-BdTitle";
  src: url("font/GridlitePEHalfwayCircleTRIAL/GridlitePEHalfwayCircleTRIAL-Bd.ttf") format("woff2");
  unicode-range: U+20,U+45,U+47,U+50,U+64,U+65,U+69,U+6c,U+72,U+74,U+393,U+395,U+3a0,U+3ac,U+3af,U+3b9,U+3ba,U+3bb,U+3bd,U+3c1,U+3c4,U+413,U+415,U+41f,U+430,U+434,U+438,U+439,U+43b,U+440,U+442
}

@font-face {
  font-family: "GridlitePEHalfwayCircle-Bl";
  src: url("font/GridlitePEHalfwayCircleTRIAL/GridlitePEHalfwayCircleTRIAL-Bl.ttf") format("woff2")
}

@font-face {
  font-family: "GridlitePEHalfwayCircle-BlTitle";
  src: url("font/GridlitePEHalfwayCircleTRIAL/GridlitePEHalfwayCircleTRIAL-Bl.ttf") format("woff2");
  unicode-range: U+20,U+45,U+47,U+50,U+64,U+65,U+69,U+6c,U+72,U+74,U+393,U+395,U+3a0,U+3ac,U+3af,U+3b9,U+3ba,U+3bb,U+3bd,U+3c1,U+3c4,U+413,U+415,U+41f,U+430,U+434,U+438,U+439,U+43b,U+440,U+442
}


* {
  box-sizing: border-box;
}

body {
  color: white;
  margin: 0;
  background-color: rgb(30, 27, 44);
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

img {
  width: 100%;
  height: auto;
}

.footer {
  padding: 2rem;
  text-align: center;
}

/* header styles begin here */
.header {
  width: 100%;
  padding: 0 2rem;
  height: 80px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: fixed;
 z-index: 90;
}

.main-title {
  font-family: "june-expt-variable",sans-serif;
  font-variation-settings: 'STYL' 100;
  font-size: 1.5rem;
  text-align: center;
  z-index: 99;
}

a:link { text-decoration: none; color: white;}

a:visited { text-decoration: none; color: white;}

a:hover { text-decoration: none; color: white;}

a:active { text-decoration: none; }

.pc-menu {
  display: none;
}

.switch {
  font-family: "Gridlite";
  font-variation-settings: "BACK" 200, "ELSH" 4, "RECT" 300, "wght" 810.1;
  font-size: 1.5rem;
  cursor: pointer;
  transition: 1s;
}

.switch:hover {
  font-variation-settings: "BACK" 200, "ELSH" 4, "RECT" 900, "wght" 200;
}

.mobile-menu {
  position: absolute;
  top: 32px;
  left: 15px;
  z-index: 2;
}

.about {
  background: rgb(217, 255, 0);
  min-height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  display: none;
}

.about li {
  margin: 0;
}

.header.open .about {
  display: flex;
  position: absolute;
  background: rgb(81, 63, 212);
}

.footer {
  width: 100%;
  padding: 0 2rem;
  height: 80px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: fixed;
}

#button {
    position: fixed;
    bottom: 5%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 3vmin;
    height: 50px;
    cursor: pointer;
    z-index: 99;
}

/* first section */
#performance {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

    display: flex;
  justify-content: center;
  align-items: center;
}

.firework {
  position: absolute;
  margin:5vw;
  width: 200px;
  height: 200px;
}


.cardSmall {
  position: absolute;
  width: 20px;
  height: 20px;
  animation-name: fly; /* Updated animation name */
  animation-duration: 5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-delay: 1s;
  background-color: #FF93E1;
  cursor: pointer;
}

@keyframes fly { /* Updated animation name */
  0% {
    opacity: 1;
    transform: translate(0, 0) rotate(0);
  }
  100% {
    opacity: 1;
    transform: translate(var(--translate-x), var(--translate-y)) rotate(720deg);
  }
}

.cardLarge {
  width: 300px;
  height: 250px;
  border-radius: 10px;
  background-color: #FF93E1;
  padding: 10px;
  cursor: pointer;
}

/* draft preview */
#preview {
  position: absolute;
  top: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}






/* #thumbnail {
  width: 500px; height: 290px; 
  padding: 0; 
 
  z-index: 2;
  border: none;
}
iframe {
  width: 750px; height: 520px;
  background-color: white;
  border:none;
  -ms-zoom: 0.50;
        -moz-transform: scale(0.5);
        -moz-transform-origin: 0 0;
        -o-transform: scale(0.5);
        -o-transform-origin: 0 0;
        -webkit-transform: scale(0.5);
        -webkit-transform-origin: 0 0;
  
} */

/* media query for desktop values */
@media only screen and (min-width: 800px) {
  .header {
    justify-content: space-between;
    position: relative;
  }

  .main-title {
    text-align: left;
    font-size: 2rem;
  }
  .pc-menu {
    display: block;
  }

  .mobile-menu {
    display: none;
  }

  .switch {
    font-size: 2rem;
  }

  .first-section {
    min-height: 1vh;
  }


  .fireworks {
    flex-basis: 38%;
    margin: 3rem;
  }
}